In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/sharedWithMe/HRWC_Data.csv')

# clean 
df.dropna(subset=['Parameter'], inplace=True)
df[['month', 'day', 'year']] = df['Collect Date'].str.split('/', expand=True)

df['month'] = df['month'].astype(int)
df['day'] = df['day'].astype(int)
df['year'] = df['year'].astype(int)

df['Parameter'] = df['Parameter'].replace('Ecol', 'eCol')
# combine discharge data with its estimate
df['Parameter'] = df['Parameter'].replace('Discharge (Est.)', 'Discharge')

keep_params = ['TP','TSS','eCol','TDS','NO2','NO3','DO','Cond','Discharge','Discharge (Est.)']
df_filtered = df[df['Parameter'].isin(keep_params)]

# generate a new ID because the original ID column have duplicates
df_filtered = df_filtered.reset_index().rename(columns={'index': 'NewID'})

In [8]:
# make water quality parameters as seperate columns 
pollutants = df_filtered.pivot_table(index=['NewID'], columns='Parameter', values='Results').reset_index()

# join the water quality parameters with site information
df_joined = df_filtered[['NewID', 'Site ID', 'month', 'year', 'day']].merge(pollutants, on='NewID').reset_index()

# wq = df_joined.groupby(['Site ID', 'year', 'month']).mean().reset_index()[['Site ID', 'year', 'month', 'Cond', 'DO', 'Discharge', 'NO2', 'NO3', 'TDS', 'TP', 'TSS', 'eCol']]

In [23]:

df_joined['date'] = df_joined['year'].astype(str) + '-' + df_joined['month'].astype(str).str.zfill(2)+ '-' + df_joined['day'].astype(str).str.zfill(2)

In [27]:
df_joined[['Site ID','date','TP','TSS','eCol','TDS','NO2','NO3','DO','Cond','Discharge']]
.to_csv('../data/processed/HRWC_daily.csv')

In [40]:
wq = df_joined[['Site ID','date','TP','TSS','eCol','TDS','NO2','NO3','DO','Cond','Discharge']].groupby(['Site ID', 'date']).mean().reset_index()
wq.to_csv('../data/processed/HRWC_daily.csv')

<h2>filter by time, join climate and built environment</h2>

In [48]:
wq_2016later = wq[wq['date'].str[:4].astype(int)>2015]

In [61]:
# check 'TP','TSS','eCol','Discharge' data
variableToPredict = ['TP','TSS','eCol'] 
print("total length", len(wq_2016later))

print("have data in TP: ", len(wq_2016later[wq_2016later[['TP']].notnull().all(axis=1)]))
print("have data in TSS: ", len(wq_2016later[wq_2016later[['TSS']].notnull().all(axis=1)]))
print("have data in eCol: ", len(wq_2016later[wq_2016later[['eCol']].notnull().all(axis=1)]))
print("have data in Discharge: ", len(wq_2016later[wq_2016later[['Discharge']].notnull().all(axis=1)]))

print("have data in any of 'TP','TSS','eCol': ", len(wq_2016later[wq_2016later[variableToPredict].notnull().any(axis=1)]))
print("have data in all of 'TP','TSS','eCol': ", len(wq_2016later[wq_2016later[variableToPredict].notnull().all(axis=1)]))
print("have data in all of 'TP','TSS','eCol', 'Discharge': ", len(wq_2016later[wq_2016later[['TP','TSS','eCol','Discharge']].notnull().all(axis=1)]))

total length 1905
have data in TP:  1667
have data in TSS:  1659
have data in eCol:  1492
have data in Discharge:  1119
have data in any of 'TP','TSS','eCol':  1829
have data in all of 'TP','TSS','eCol':  1329
have data in all of 'TP','TSS','eCol', 'Discharge':  832

In [62]:
climate_daily = pd.read_csv('../data/GEE_output/climate_daily.csv')

In [68]:
wq_climate = wq_2016later.merge(climate_daily, left_on=['Site ID','date'], right_on=['Huron_Po_2','date'])
wq_climate = wq_climate.drop(columns=['Huron_Po_2'])

In [70]:
wq_climate

,Site ID,date,TP,TSS,eCol,TDS,NO2,NO3,DO,Cond,Discharge,tmean,ppt
0,ADW01,2016-04-19,0.040,4.4,206.4,NaN,NaN,NaN,12.15,1617.0,5.91000,11.042189,0.000000
1,ADW01,2016-05-05,0.090,8.2,579.4,NaN,NaN,NaN,9.92,901.0,28.49000,12.804653,0.000000
2,ADW01,2016-05-16,0.060,20.4,127.4,NaN,NaN,NaN,10.65,777.0,44.19886,14.218319,0.851565
3,ADW01,2016-05-31,0.120,5.0,1413.6,NaN,NaN,NaN,5.44,1767.0,1.60000,20.830900,0.000000
4,ADW01,2016-06-15,0.100,7.8,1986.3,NaN,NaN,NaN,8.67,1688.0,0.00000,23.388378,8.000319
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1688,WR01,2016-07-25,0.042,11.0,648.8,799.5,0.00781,0.7,7.12,1223.0,NaN,25.552601,0.000000
1689,WR01,2016-08-06,0.061,10.8,613.1,650.0,0.01181,0.6,7.54,942.0,NaN,23.887337,0.000000
1690,WR01,2016-08-23,0.045,11.4,68.9,487.5,0.00820,0.5,9.17,714.0,NaN,21.663842,0.000000
1691,WR01,2016-09-07,0.546,337.0,2419.6,403.0,0.01224,0.6,8.16,608.0,NaN,28.997105,11.018185
1692,WR01,2016-09-21,0.023,4.8,88.0,637.0,0.00492,0.5,8.08,892.0,NaN,22.563596,0.000000

In [69]:
df_built_env = pd.read_csv("../data/processed/AllProcessedParamsData.csv")

In [73]:
built_env_params = ['RoadDensity',
   'LaneDensity', 'GravelDensity', 'AsphaltDensity', 'ConcreteDensity',
   'StateRdDensity', 'CountyRdDensity', 'CityRdDensity', 'ParcelCtDensity',
   'ParcelAvgArea', 'AgPercent', 'CommercialPercent', 'GreenPercent',
   'IndustryPercent', 'ServicePercent', 'ResidentialPercent',
   'VaccantPercent', 'OpenDevPercent', 'LowDevPercent', 'MedDevPercent',
   'HighDevPercent', 'MedianFloors', 'MedianBuiltYr', 'RangeBuiltYr',
   'FootprintDensity', 'UnitDensity']
soil_params = ['SoilBPercent', 'SoilCPercent', 'SoilDPercent', 'SoilDepth', 'Slope']

be = df_built_env[['site_ID']+built_env_params+soil_params]
WQ_BE_CLM_By_Day = wq_climate.merge(be,left_on='Site ID', right_on='site_ID').rename(columns={'Site ID':'Site_ID'}).drop(columns=['site_ID'])

In [75]:
WQ_BE_CLM_By_Day.to_csv('../data/processed/WQ_BE_CLM_By_Day.csv')